# SPDX-FileCopyrightText: Open Energy Transition gGmbH and contributors to PyPSA-Eur <https://github.com/pypsa/pypsa-eur>
# SPDX-License-Identifier: CC-BY-4.0

jupyter-book
ghp-import
pre-commit
pandas
numpy
pypsa